In [22]:
import sqlite3
con = sqlite3.connect('CSCI4333.db')
cur = con.cursor()

In [23]:
statement = '''
CREATE TABLE Sailors (
     sid text,
     sname text,
     rating int,
     age real,
     primary key (sid)
);
'''

cur.execute(statement)

statement = '''
CREATE TABLE Boats (
     bid text,
     bname text,
     color text,
     primary key (bid)
);
'''

cur.execute(statement)

statement = '''
CREATE TABLE Reserves (
     sid text,
     bid text,
     day date,
     primary key (sid, bid),
     foreign key (sid) references Sailors(sid),
     foreign key (bid) references Boats(bid)
);
'''

cur.execute(statement)

statement = '''
INSERT INTO Sailors VALUES ('22','Dustin',7,45)
'''
cur.execute(statement)

cur.execute("INSERT INTO Sailors VALUES ('29','Brutus',1,33)")
cur.execute("INSERT INTO Sailors VALUES ('31','Lubber',8,55.5)")
cur.execute("INSERT INTO Sailors VALUES ('32','Andy',8,25.5)")
cur.execute("INSERT INTO Sailors VALUES ('58','Rusty',10,35)")
cur.execute("INSERT INTO Sailors VALUES ('64','Horatio',7,35)")
cur.execute("INSERT INTO Sailors VALUES ('71','Zorba',10,16)")
cur.execute("INSERT INTO Sailors VALUES ('74','Horatio',9,35)")
cur.execute("INSERT INTO Sailors VALUES ('85','Art',3,25.5)")
cur.execute("INSERT INTO Sailors VALUES ('95','Bob',3,63.5)")


cur.execute("INSERT INTO Boats VALUES ('101','Interlake','blue')")
cur.execute("INSERT INTO Boats VALUES ('102','Interlake','red')")
cur.execute("INSERT INTO Boats VALUES ('103','Clipper','green')")
cur.execute("INSERT INTO Boats VALUES ('104','Marine','red')")

cur.execute("INSERT INTO Reserves VALUES ('22','101','10/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','102','10/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','102','11/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','103','11/06/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','103','10/08/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','104','10/07/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','104','11/12/04')")
cur.execute("INSERT INTO Reserves VALUES ('64','101','09/05/04')")
cur.execute("INSERT INTO Reserves VALUES ('64','102','09/08/04')")
cur.execute("INSERT INTO Reserves VALUES ('74','103','09/08/04')")

In [24]:
statement = '''
SELECT * FROM Reserves;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

statement = '''
SELECT * FROM Sailors;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

statement = '''
SELECT * FROM Boats;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid', 'bid', 'day']
----------------
('22', '101', '10/10/04')
('22', '102', '10/10/04')
('31', '102', '11/10/04')
('31', '103', '11/06/04')
('22', '103', '10/08/04')
('22', '104', '10/07/04')
('31', '104', '11/12/04')
('64', '101', '09/05/04')
('64', '102', '09/08/04')
('74', '103', '09/08/04')
['sid', 'sname', 'rating', 'age']
----------------
('22', 'Dustin', 7, 45.0)
('29', 'Brutus', 1, 33.0)
('31', 'Lubber', 8, 55.5)
('32', 'Andy', 8, 25.5)
('58', 'Rusty', 10, 35.0)
('64', 'Horatio', 7, 35.0)
('71', 'Zorba', 10, 16.0)
('74', 'Horatio', 9, 35.0)
('85', 'Art', 3, 25.5)
('95', 'Bob', 3, 63.5)
['bid', 'bname', 'color']
----------------
('101', 'Interlake', 'blue')
('102', 'Interlake', 'red')
('103', 'Clipper', 'green')
('104', 'Marine', 'red')

# Basic SQL

Basic Syntax:

SELECT [attributes]

FROM [tables]

WHERE [conditions]

the command is equation to relational algebra ->

$\pi_{attributes}(\sigma_{conditions}(Table1 \times Table2 \times \dots \times TableN))$

## Q1:  Find the name and sid (sid, sname) of the Sailors whose age is less than 30?

In [25]:
statement = '''
SELECT sid, sname FROM Sailors WHERE age<30;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid', 'sname']
----------------
('32', 'Andy')
('71', 'Zorba')
('85', 'Art')

## Q2: Find the name and the age of the Sailors (sname, age) whose rating is greater than 7

In [26]:
statement = '''
SELECT sname, age FROM Sailors WHERE rating > 7;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sname', 'age']
----------------
('Lubber', 55.5)
('Andy', 25.5)
('Rusty', 35.0)
('Zorba', 16.0)
('Horatio', 35.0)

## Q3: Find the boats (bid) which is reserved by sailors with id = 22?

In [27]:
statement = '''
SELECT bid FROM Reserves WHERE sid=22;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid']
----------------
('101',)
('102',)
('103',)
('104',)

## Q4: Find the name and rating of the sailors (sname, rating) who reserved at least one red boat

In [28]:
statement = '''
SELECT DISTINCT sname, rating
FROM Sailors S, Reserves R, Boats B
WHERE S.sid = R.sid AND R.bid = B.bid AND color='red'
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sname', 'rating']
----------------
('Dustin', 7)
('Lubber', 8)
('Horatio', 7)

## Q5: Find the name and the color of the boats (bname, color) which are reserved by sailors with id = 22?

In [29]:
statement = '''
SELECT bname, color FROM Reserves, Boats WHERE sid=22 AND Reserves.bid=Boats.bid;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bname', 'color']
----------------
('Interlake', 'blue')
('Interlake', 'red')
('Clipper', 'green')
('Marine', 'red')

## Q6: Find the name and the color of the boats (bname, color) which are reserved by the sailors whose rating greater than 5?

In [32]:
statement = '''
SELECT DISTINCT bname, color
FROM Reserves, Boats, Sailors
WHERE  Reserves.bid=Boats.bid
    AND Reserves.sid = Sailors.sid
    AND rating>5;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bname', 'color']
----------------
('Interlake', 'blue')
('Interlake', 'red')
('Clipper', 'green')
('Marine', 'red')

## Q7: Find the pair of sailors who reserved the same boat (sid, sname, sid2, sname2)

In [33]:
statement = '''
SELECT DISTINCT S.sid AS sid, S.sname AS sname, S2.sid AS sid2, S2.sname AS sname2
FROM Sailors S, Reserves R, Sailors S2, Reserves R2
WHERE S.sid = R.sid AND S2.sid=R2.sid AND R.bid=R2.bid AND S.sid<>S2.sid
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid', 'sname', 'sid2', 'sname2']
----------------
('64', 'Horatio', '22', 'Dustin')
('31', 'Lubber', '22', 'Dustin')
('74', 'Horatio', '22', 'Dustin')
('22', 'Dustin', '31', 'Lubber')
('64', 'Horatio', '31', 'Lubber')
('74', 'Horatio', '31', 'Lubber')
('22', 'Dustin', '64', 'Horatio')
('31', 'Lubber', '64', 'Horatio')
('22', 'Dustin', '74', 'Horatio')
('31', 'Lubber', '74', 'Horatio')

## Q8: Find the pair of red boats that are reserved by the same sailors in different day (bid, bname, bid2, bname2)

In [34]:
statement = '''
SELECT DISTINCT R.bid, B.bname, R2.bid AS bid2, B2.bname AS bname2
FROM Reserves R, Boats B, Reserves R2, Boats B2
WHERE R.bid=B.bid
  AND B.color='red'
  AND R2.bid=B2.bid
  AND B2.color='red'
  AND R.sid = R2.sid
  AND R.bid <> R2.bid
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid', 'bname', 'bid2', 'bname2']
----------------
('102', 'Interlake', '104', 'Marine')
('104', 'Marine', '102', 'Interlake')

# Set Operations

We have total three different set operations.

INTERSECT: which perform intersection between two tables (table could be come from query)

UNION: which perform union between two tables (table could be come from query)

EXCEPT: which perform set difference between two tables (table could be come from query)

## Q1: Find the boats (bid) which is reserved by sailor 22 and 31

In [35]:
statement = '''
SELECT DISTINCT bid FROM Reserves
WHERE sid=22

INTERSECT

SELECT DISTINCT bid FROM Reserves
WHERE sid=31
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid']
----------------
('102',)
('103',)
('104',)

## Q2: Find the boats (bid) which is reserved by sailor 22 or 31

In [36]:
statement = '''
SELECT DISTINCT bid FROM Reserves
WHERE sid=22 OR sid=31
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid']
----------------
('101',)
('102',)
('103',)
('104',)

In [37]:
statement = '''
SELECT DISTINCT bid FROM Reserves
WHERE sid=22

UNION

SELECT DISTINCT bid FROM Reserves
WHERE sid=31
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid']
----------------
('101',)
('102',)
('103',)
('104',)

## Q3: Find the boats (bid) which is reserved by sailor 22 but not 31

In [38]:
statement = '''
SELECT DISTINCT bid FROM Reserves
WHERE sid=22

EXCEPT

SELECT DISTINCT bid FROM Reserves
WHERE sid=31
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid']
----------------
('101',)

## Q4: Find the sailors (sid) whose reserved boat 101 and boat 102

In [39]:
statement = '''
SELECT sid FROM Reserves
WHERE bid=102

INTERSECT

SELECT sid FROM Reserves
WHERE bid=101


'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid']
----------------
('22',)
('64',)

## Q5: Find the sailors (sid) whose reserved boat 101 or boat 102

In [40]:
statement = '''
SELECT DISTINCT sid FROM Reserves
WHERE bid=101

UNION

SELECT DISTINCT sid FROM Reserves
WHERE bid=102
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid']
----------------
('22',)
('31',)
('64',)

## Q6: Find the sailors (sid) whose reserved boat 102 but never reserve boat 101

In [41]:
statement = '''
SELECT DISTINCT sid FROM Reserves
WHERE bid=102

EXCEPT

SELECT DISTINCT sid FROM Reserves
WHERE bid=101
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid']
----------------
('31',)

# Nested Query

## Q1: Find the sailors (sname) whose reserves the

## Q2: Find the sailors (sid) whose reserved a red boat before

In [42]:
statement = '''
SELECT DISTINCT sid FROM Reserves, Boats
WHERE Reserves.bid = Boats.bid
AND color = 'red'
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid']
----------------
('22',)
('31',)
('64',)

### How to do it with a nested query (IN)

In [51]:
statement = '''
SELECT DISTINCT sid FROM Reserves
WHERE bid IN
(SELECT bid FROM Boats
WHERE color = 'red')
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid']
----------------
('22',)
('31',)
('64',)

## Q3: Find sailors (sname, rating) whoes reserved a red boat before

In [49]:
statement = '''
SELECT sname, rating FROM sailors
WHERE sid IN
(SELECT DISTINCT sid FROM Reserves
WHERE bid IN
(SELECT bid FROM Boats
WHERE color = 'red')
)
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sname', 'rating']
----------------
('Dustin', 7)
('Lubber', 8)
('Horatio', 7)

## Q4: Find sailors (sname, rating) whoes never reserved a red boat before

In [ ]:
statement = '''
SELECT S.sname, S.rating FROM S
WHERE sid IN
(SELECT sid FROM Sailors

EXCEPT 

SELECT DISTINCT sid FROM Reserves
WHERE bid IN
(SELECT bid FROM Boats
WHERE color = 'red')
)
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

## Or

In [53]:
statement = '''
SELECT sname, rating FROM sailors
WHERE sid NOT IN
(SELECT DISTINCT sid FROM Reserves
WHERE bid IN
(SELECT bid FROM Boats
WHERE color = 'red')
)
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sname', 'rating']
----------------
('Brutus', 1)
('Andy', 8)
('Rusty', 10)
('Zorba', 10)
('Horatio', 9)
('Art', 3)
('Bob', 3)

# Correlated Nested Query

### <u>Keywords</u>:
- **IN**
- **NOT IN**
- **EXISTS**
- **NOT EXISTS**

## Q1: Find the sailors (sid) who only reserve green boats before

In [57]:
# If we fixed a sid (sid = 22), how can we check if we want this sid or not
statement = '''
SELECT bid FROM Reserves WHERE sid = 22
EXCEPT
SELECT bid FROM Boats WHERE color = 'green'
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid']
----------------
('101',)
('102',)
('104',)

In [64]:
# If we fixed a sid (sid = 74), how can we check if we want this sid or not
statement = '''
SELECT R2.sid FROM Reserves R2
WHERE NOT EXIST
(SELECT bid FROM Reserves WHERE Reserves.sid = Sailors.sid
EXCEPT
SELECT bid FROM Boats WHERE color = 'green')
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

OperationalError: near "SELECT": syntax error

## Q2: Find the sailors (sid, rating) who only reserve green boats before

In [ ]:
# If we fixed a sid (sid = 74), how can we check if we want this sid or not
statement = '''
SELECT R2.sid, R2.rating FROM Reserves R2
WHERE NOT EXIST
(SELECT bid FROM Reserves WHERE Reserves.sid = Sailors.sid
EXCEPT
SELECT bid FROM Boats WHERE color = 'green')
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

## Q3: Find the sailors (sid, rating) who has highest rating

In [ ]:
# If we fixed a sid (sid = 74), how can we check if he/she is the highest rating or not
# If we have any other sailors whose rating is higher than sid = 74, then it is not the highest rating  / otherwise yes
statement = '''
SELECT sid, sname FROM Sailors S2
WHERE NOT EXISTS

(SELECT sid, sname FROM Sailors S
WHERE sid IN
(SELECT sid FROM Sailors

EXCEPT 

SELECT DISTINCT sid FROM Reserves
WHERE bid IN
(SELECT bid FROM Boats
WHERE color = 'red')
)
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

# Join

# Close the connection (Do NOT run this if you plan to play with the query)

In [19]:
con.commit()
con.close()