### Initialize Database Connection

In [21]:
import sqlite3

In [22]:
con = sqlite3.connect('CSCI4333-1.db')

In [23]:
cur = con.cursor()

### Create Table

In [24]:
statement = '''
CREATE TABLE Sailors (
     sid text,
     sname text,
     rating int,
     age real,
     primary key (sid)
);
'''

In [ ]:
cur.execute(statement)

In [ ]:
statement = '''
CREATE TABLE Boats (
     bid text,
     bname text,
     color text,
     primary key (bid)
);
'''

cur.execute(statement)

In [ ]:
statement = '''
CREATE TABLE Reserves (
     sid text,
     bid text,
     day date,
     primary key (sid, bid),
     foreign key (sid) references Sailors(sid),
     foreign key (bid) references Boats(bid)
);
'''

cur.execute(statement)

### Entering the data

In [ ]:
statement = '''
INSERT INTO Sailors VALUES ('22','Dustin',7,45)
'''
cur.execute(statement)

In [ ]:
cur.execute("INSERT INTO Sailors VALUES ('29','Brutus',1,33)")
cur.execute("INSERT INTO Sailors VALUES ('31','Lubber',8,55.5)")
cur.execute("INSERT INTO Sailors VALUES ('32','Andy',8,25.5)")
cur.execute("INSERT INTO Sailors VALUES ('58','Rusty',10,35)")
cur.execute("INSERT INTO Sailors VALUES ('64','Horatio',7,35)")
cur.execute("INSERT INTO Sailors VALUES ('71','Zorba',10,16)")
cur.execute("INSERT INTO Sailors VALUES ('74','Horatio',9,35)")
cur.execute("INSERT INTO Sailors VALUES ('85','Art',3,25.5)")
cur.execute("INSERT INTO Sailors VALUES ('95','Bob',3,63.5)")

In [ ]:
cur.execute("INSERT INTO Boats VALUES ('101','Interlake','blue')")
cur.execute("INSERT INTO Boats VALUES ('102','Interlake','red')")
cur.execute("INSERT INTO Boats VALUES ('103','Clipper','green')")
cur.execute("INSERT INTO Boats VALUES ('104','Marine','red')")

In [ ]:
cur.execute("INSERT INTO Reserves VALUES ('22','101','10/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','102','10/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','102','11/10/04')")
cur.execute("INSERT INTO Reserves VALUES ('31','103','11/06/04')")

In [ ]:
cur.execute("INSERT INTO Reserves VALUES ('22','103','10/08/04')")
cur.execute("INSERT INTO Reserves VALUES ('22','104','10/07/04')")

In [ ]:
cur.execute("INSERT INTO Reserves VALUES ('31','104','11/12/04')")

cur.execute("INSERT INTO Reserves VALUES ('64','101','09/05/04')")
cur.execute("INSERT INTO Reserves VALUES ('64','102','09/08/04')")
cur.execute("INSERT INTO Reserves VALUES ('74','103','09/08/04')")

### Visualize the data via SQL query

In [ ]:
statement = '''
SELECT * FROM Reserves; 
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid', 'bid', 'day']
----------------
('22', '101', '10/10/04')
('22', '102', '10/10/04')
('31', '102', '11/10/04')
('31', '103', '11/06/04')
('22', '103', '10/08/04')
('22', '104', '10/07/04')
('31', '104', '11/12/04')
('64', '101', '09/05/04')
('64', '102', '09/08/04')
('74', '103', '09/08/04')

In [ ]:
statement = '''
SELECT * FROM Sailors; 
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid', 'sname', 'rating', 'age']
----------------
('22', 'Dustin', 7, 45.0)
('29', 'Brutus', 1, 33.0)
('31', 'Lubber', 8, 55.5)
('32', 'Andy', 8, 25.5)
('58', 'Rusty', 10, 35.0)
('64', 'Horatio', 7, 35.0)
('71', 'Zorba', 10, 16.0)
('74', 'Horatio', 9, 35.0)
('85', 'Art', 3, 25.5)
('95', 'Bob', 3, 63.5)

In [ ]:
statement = '''
SELECT * FROM Boats; 
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid', 'bname', 'color']
----------------
('101', 'Interlake', 'blue')
('102', 'Interlake', 'red')
('103', 'Clipper', 'green')
('104', 'Marine', 'red')

### Basic SQL Questions

#### Q1:  Find the name and sid (sid, sname) of the Sailors whose age is less than 30?

In [ ]:
statement = '''
SELECT sid, sname FROM Sailors WHERE age<30; 
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['sid', 'sname']
----------------
('32', 'Andy')
('71', 'Zorba')
('85', 'Art')

#### Q2:  Find the boats (bid) which is reserved by sailors with id = 22?

In [ ]:
statement = '''
SELECT bid FROM Reserves WHERE sid=22; 
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bid']
----------------
('101',)
('102',)
('103',)
('104',)

### Q3-2: Find the name and rating of the sailors (sname, rating) who reserved at least one red boat

In [26]:
statement = '''
SELECT sname, rating FROM Sailors, Reserves WHERE ; 
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

OperationalError: incomplete input

#### Q3:  Find the name and the color of the boats (bname, color) which are reserved by sailors with id = 22?

In [ ]:
statement = '''
SELECT bname, color FROM Reserves, Boats WHERE sid=22 AND Reserves.bid=Boats.bid; 
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bname', 'color']
----------------
('Interlake', 'blue')
('Interlake', 'red')
('Clipper', 'green')
('Marine', 'red')

#### Q4:  Find the name and the color of the boats (bname, color) which are reserved by the sailors whose rating greater than 5?

In [ ]:
statement = '''
SELECT DISTINCT bname, color FROM Reserves, Boats, Sailors WHERE  Reserves.bid=Boats.bid AND Reserves.sid = Sailors.sid AND rating>5;
'''
res = cur.execute(statement)

relational_schema = [x[0] for x in res.description]
print(relational_schema)
print('----------------')
for instance in res:
    print(instance)

['bname', 'color']
----------------
('Interlake', 'blue')
('Interlake', 'red')
('Clipper', 'green')
('Marine', 'red')